target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.project
target/
/target
*~
*.class
*local_config.tmp
derby.logbuild/
Servers/
.metadata/
*.iml
*.idea
*.log
/logs
*.swp

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/